@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    color: #596d48;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

label {
    font-size: .5625rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .125rem;
}

button {
    font-family: inherit;
    font-size: .8125rem;
    font-weight: bold;
    background-color: #596d48;
    color: #fff;
    padding: .625rem 2.1875rem;
    border: none;
    border-radius: .3125rem;
    box-shadow: 0px 2.4px 3.2px rgba(0, 0, 0, .15);
    transition: filter .3s ease;
    cursor: pointer;
}

button:hover {
    filter: brightness(120%);
}

.container {
    display: flex;
    min-height: 100vh;
}

.image-side {
    width: 30%;
    background-image: url(images/ferns.jpg);
    background-size: cover;
    padding-top: 11.5625rem;
}

.image-side .logo {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    padding: .625rem 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 5rem;
    margin-right: .625rem;
}

.form-side {
    width: 70%;
    background-color: #f8f8f8;
}

.form-side > div {
    font-weight: bold;
    padding: 8.75rem 0 2.5rem 1.875rem;
}

.form-side > div p:first-child {
    margin-bottom: 1.25rem;
    max-width: 55%;
    line-height: 1.3;
}

.form-side form {
    background-color: #fff;
    padding-top: .9375rem;
}

.form-side form > p {
    font-size: 1.125rem;
    margin: 0 0 .9375rem;
    padding-left: 1.875rem;
}
.form-side form > div + div {
    background-color: #f8f8f8;
    padding: 1.5625rem 0 0 1.875rem;
    box-shadow: 0 20px 10px -20px rgba(0, 0, 0, .30) inset;
}

.form-side form > div + div p {
    font-size: .8125rem;
    font-weight: bold;
    margin-top: 1.875rem;
}

.form-inputs {
    background-color: #fff;
    padding: 0 0 1.875rem 1.875rem;
    display: grid;
    grid-template-columns: repeat(2, 12.5rem);
    column-gap: 3.125rem;
    row-gap: .625rem;
}

.form-inputs input {
    font-family: inherit;
    font-size: .75rem;
    font-weight: bold;
    width: 100%;
    height: 1.75rem;
    padding: .625rem .5rem;
    border: 2px solid #e5e7eb;
    border-radius: .3125rem;
    transition: all .3s ease;
}

.form-inputs input:focus {
    outline: none;
}

.form-inputs input:not([type="password"]):focus {
    border: 2px solid #6495ed;
    box-shadow: 2.4px 2.4px 3.2px rgba(0, 0, 0, .15);
}

.form-inputs input[type="password"]:invalid {
    border: 2px solid #d93025;
}