@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    min-height: 100vh;
}

.image-side {
    width: 30%;
    background-image: url(images/ferns.jpg);
    background-size: cover;
}

.image-side .logo {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    margin-top: 9.375rem;
    padding: .625rem 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-right: .625rem;
}